// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

// app specific imports

@import "github-ribbon";
@import "rainbow-solarized";

// Added to use the open-heart library

.heart { 
  width: 126px; 
  height: 117px; 
  position: fixed; 
  background-image: url('../javascripts/open-heart/heart.png'); 
  z-index: 99999;
}

// app specific below

#hearts-bg { background-color: $secondary-color; }

#open-heart-logo { padding: emCalc(15px); }

#hearts-callout { background: lighten($secondary-color, 10%); }

@media #{$small} { 
  #first-row { margin-top: $column-gutter; }
  #hearts-callout { top: emCalc(60px); }
  #hearts-download { top: emCalc(70px); }
}

// svg coloring
svg path { fill: $primary-color; }
// svg fill { fill: $primary-color; }

// animation keyframes for .bounce images
@keyframes hoverover
{
  0% { transform: scale(1); }
  33% { transform: scale(0.8); }
  100% { transform: scale(1); }
}
@-webkit-keyframes hoverover
{
  0% { -webkit-transform: scale(1); }
  33% { -webkit-transform: scale(0.8); }
  100% { -webkit-transform: scale(1); }
}
@keyframes hoverout
{
  0% { transform: scale(1); }
  33% { transform: scale(1.3); }
  100% { transform: scale(1);  }
}
@-webkit-keyframes hoverout
{
  0% { -webkit-transform: scale(1); }
  33% { -webkit-transform: scale(1.3);  }
  100% { -webkit-transform: scale(1);  }
}

// .bounce animation on hover/hoverout
.bounce {
  animation-name: hoverover;
  -webkit-animation-name: hoverover;
  animation-duration: 0.7s;
  -webkit-animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  width:60%;
  height:180px;
  }
.bounce:hover {
  animation-name: hoverout;
  -webkit-animation-name: hoverout;
  animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
}
